/*Default css modifications*/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 233, 238);
    font-size: 1em; /*16/16=1*/
    margin: 0.125em 0.25em 0.125em 0.25em; /*4/16=0.25 AND 2/16=0.125*/

}

section {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

input {
    color:rgb(55, 55, 55);
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.625em; /*10/16=0.625*/
    box-sizing: border-box;
    border-style: solid;
    width: 100%;
}

p {
    font-size: 0.875em; /*14/16=0.785*/
    margin-bottom: 1em; /*16/16=1*/
}

form,
h1,
p {
    display: block;
    max-width: 100%;  
}

h1,
p {
    text-align: center;
}

#inpsub {
    background-color: rgb(75, 70, 70);
    color: rgb(245, 245, 245);
    font-weight: bold;
    margin: 2em 0; /*32/16=2*/
    padding: 0.75em 0 0.75em 0; /*12/16=0.75*/
}

#inpsub:hover, #inpsub:active{
    background-color:rgb(18, 17, 17);
    color: rgb(207, 190, 148);
}

#inpemladdr,
#inpphnnum,
#inpdob {
    background-color: rgb(255, 255, 255);
    margin: 0.50em 0 1em 0; /*16/16=1 AND 8/16=0.50*/
    padding: 0.50em 0.50em 0.50em 0.50em; /*8/16=0.50*/
}

/*Desktop Screen width 1400px*/
/*However I set it to 480px to make the transition more elegant*/

@media screen and (min-width: 30em) { /*480/16=30*/

    html {
        background-color: rgb(255, 255, 255);
    }

    section {
        background-color: rgb(232, 233, 238);
        border: 0.125em solid rgb(123, 123, 128); /*2/16=0.125*/
        margin: auto;
        padding: 0 2em 0 2em; /*32/16=2*/
        width:  25em; /*400/16=25*/
    }




}