/*Default css modifications*/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    font-size: 1em; /*16/16=1*/
    line-height: 1.25em; /*20/16=1.25*/
    margin: 0.25em; /*4/16=0.25*/

}

section {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

input {
    font-family: inherit;
    border-radius: 0.625em; /*10/16=0.625*/
    box-sizing: border-box;
    border-style: solid;
    width: 100%;
}

label,
input,
h1,
p {
    display: block;
    max-width: 100%;
    padding: 0.25em 0.25em 0.25em 0.25em; /*4/16-0.25*/
}

h1,
p {
    text-align: center;
    line-height: 1.25em; /*20/16=1.25*/
}

#inpsub {
    color: rgb(245, 245, 245);
    font-weight: bold;
    margin-top: 2em; /*32/16=2*/
    background-color: rgb(75, 70, 70);
}

#inpemladdr,
#inpphnnum,
#inpdob {
    margin: 2em 0em 2em 0em; /*32/16=2*/
}