/*Default css modifications*/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    font-size: 1em; /*16/16=1*/
    line-height: 1.50em; /*24/16=1.50*/
    margin: 0.125em 0.25em 0.125em 0.25em; /*4/16=0.25 AND 2/16=0.125*/

}

section {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

input {
    color:rgb(55, 55, 55);
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.625em; /*10/16=0.625*/
    box-sizing: border-box;
    border-style: solid;
    width: 100%;
}

form,
h1,
p {
    display: block;
    max-width: 100%;  
}

h1,
p {
    text-align: center;
}

#inpsub {
    background-color: rgb(75, 70, 70);
    color: rgb(245, 245, 245);
    font-weight: bold;
    margin-top: 2em; /*32/16=2*/
    padding: 0.75em 0 0.75em 0; /*12/16=0.75*/
}

#inpsub:hover, #inpsub:active{
    background-color:rgb(0, 0, 0);
    color: rgb(184, 179, 179);
}

#inpemladdr,
#inpphnnum,
#inpdob {
    margin: 1em 0 1em 0; /*16/16=1*/
    padding: 0.50em 0.50em 0.50em 0.50em; /*8/16=0.50*/
}

/*Desktop Screen 1400px X 800px*/

@media screen and (min-width: 87.5em) { /*1400/16=*/
    section {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }


}